$header-bg-color: #ecf1f4;
$summary-bg-color: #fe4c8d;
$footer-bg-color: #fea100;
$main-bg-color: #fff;
$btn-bg-color: #fea100;

// fonts color
$primary-color: #14141d;
$header-p-color: #5c6369;
$secondary-color: #fff;
$main-font: 'Open Sans', sans-serif;


//text-style
@mixin paragraph {
  font-size: 0.875rem;
  line-height: 1.625rem;
  font-family: $main-font;
  font-weight: 400;
}
@mixin main-headers {
  font-size: 2.1875rem;
  line-height: 1.375rem;
  font-weight: 400;
}
@mixin sub-headers {
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.0625rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-wrap: wrap;
  background-color:  $header-bg-color;
  padding-right: 15%;
  .brand-logo {
    flex-basis: 55%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .brand-info {
    flex-basis: 45%;
    padding: 6.25rem  2.5rem 5.625rem;
    h1 {
      @include main-headers;
      color:  $primary-color;
    }
    h2 {
      @include sub-headers;
      color:  $primary-color;
      margin-top: 2.0625rem;
    }
    p{
      @include paragraph;
      color: $header-p-color;
      margin-top: 0.625rem;
    }
  }
}
footer {
  background-image: url("../../img/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5.9375rem 20% 5rem;
  color: $secondary-color;
  display: flex;
  flex-wrap: wrap;
  h2 {
    @include main-headers;
    flex-basis: 100%;
  }
  .step {
    flex-basis: 80%;
    .step-item {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 100%;
      align-items: stretch;
      margin-top: 1.25rem;
      .step-num {
        flex-basis: 15%;
        text-align: center;
        background: linear-gradient(to right, transparent 5%, #fff 5% 8%, transparent 8% 92%, #fff 92% 95%,transparent 95%),
        linear-gradient(rgba(0,0,0, 0.4) 5%, #fff 5% 8%, rgba(0,0,0, 0.4) 8% 92%, #fff 92% 95%,rgba(0,0,0, 0.4) 95%);
        text-transform: uppercase;
        height: 100%;
        padding: 1.25rem;
      }
      p{
        flex-basis: 80%;
        @include paragraph;
        margin-left: 1.75em;

      }
    }

  }
}


@media all and (max-width: 800px) {
  header {
    padding: 0;
    .brand-logo, .brand-info {
      flex-basis: 100%;
    }
  }
  footer {
    padding: 3.9375rem 5% 2rem;
    .step {
      flex-basis: 100%;
    }
  }
}